.container-fluid {
  background-color: #9ec4fb;
  min-height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .my-container {
  background-color: #02044a;
  min-height: 40rem;
  border-radius: 15px;
}

.container-fluid .my-container .my-container2 {
  margin-top: 2rem;
  width: 90%;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 {
  min-height: 35rem;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  color: white;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 p {
  width: 65%;
  color: #9d9eb9;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about {
  min-height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6rem;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row1 {
  min-height: 3.5rem;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row1 img {
  width: 20px;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row1 .box1 {
  width: 16rem;
  padding: 10px 25px;
  border-radius: 10px;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row1 .box1:hover {
  border: 2px solid #0c71f9;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row1 .box1 .span2 {
  margin-left: 20px;
  color: #b5b6ca;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row2 {
  min-height: 3.5rem;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row2 img {
  width: 20px;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row2 .box2 {
  width: 16rem;
  padding: 10px 25px;
  border-radius: 10px;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row2 .box2:hover {
  border: 2px solid #0c71f9;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row2 .box2 .span2 {
  margin-left: 20px;
  color: #b5b6ca;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row3 {
  min-height: 3.5rem;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row3 img {
  width: 20px;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row3 .box3 {
  width: 16rem;
  padding: 10px 25px;
  border-radius: 10px;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row3 .box3:hover {
  border: 2px solid #0c71f9;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .about .row3 .box3 .span2 {
  margin-left: 20px;
  color: #b5b6ca;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 5rem;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .social .box {
  min-width: 5rem;
  min-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .social .box a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .social .box a img {
  width: 20px;
}

.container-fluid .my-container .my-container2 .my-row .my-col1 .social .box a:hover {
  border-radius: 50%;
  background-color: #0c75ff;
  padding: 20px 25px;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 {
  min-height: 37rem;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page {
  background-color: #FFFFFF;
  border-radius: 15px;
  min-height: 33rem;
  margin-top: 2rem;
  padding: 20px 35px;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page form .box1 {
  border: 2px solid #e6e6ee;
  border-radius: 10px;
  padding: 10px 10px;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page form .box1:hover {
  border: 2px solid #4B99FF;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page form .box1:hover i {
  color: #4B99FF;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page form .box1 i {
  width: 20px;
  color: #e6e6ee;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page form .box1 input.name {
  width: 80%;
  height: 2rem;
  border: none;
  background-color: #FFFFFF;
  outline: none;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page form .box2 {
  border: 2px solid #e6e6ee;
  border-radius: 10px;
  padding: 10px 10px;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page form .box2:hover {
  border: 2px solid #4B99FF;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page form .box2:hover i {
  color: #4B99FF;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page form .box2 i {
  width: 20px;
  color: #e6e6ee;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page form .box2 input.mail {
  width: 80%;
  height: 2rem;
  border: none;
  background-color: #FFFFFF;
  outline: none;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page form .message {
  width: 100%;
  min-height: 10rem;
  padding: 20px 20px;
  resize: none;
  border: none;
  outline: none;
  background-color: #f9f9fb;
}

.container-fluid .my-container .my-container2 .my-row .my-col2 .page form .submit {
  margin-top: 25px;
  padding: 15px 45px;
  border: none;
  border-radius: 10px;
  background-color: #0c75ff;
  color: white;
  float: right;
}
/*# sourceMappingURL=style.css.map */